/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require_tree .
 *= require_self
 */
 @import 'font-awesome-sprockets';
 @import "font-awesome";
 @import "material_icons";
 @import "./reset.scss";
 @import 'materialize';
.describe{
  height: calc(100vh-60px);
}
.add-message{
  height: 60px;
  z-index: 2;
  & .message-infomation{
    line-height: 60px;
    padding-left: 25px;
    color: white;
  } 
}
.describe-container{
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  position: relative;
  z-index: 0;
}
.main-wrapper{
  background: image-url('background.jpg');
  background-position : bottom;
  height: 70vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  display: flex;
    justify-content: center; 
    align-items: center; 
}
.main-wrapper::after{
  content: "";
  background-color: rgba(161, 186, 255, 0.7);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.wrap-container{
  display: flex;
  flex-direction: column;
}
.wrap-info{
  display:inline-block;
  vertical-align:middle;
  z-index: 1;
  position: relative;
  font-size: 4vw;
  word-wrap: break-word;
  color: rgb(255, 255, 255); 
  padding-left: 50px;
  padding-right: 50px; 
}
.app-contents{
  display: flex;
  width: 100vw; 
}
.app-content{
  width: 20%;
  text-align: center;
  padding-top: 30px;
  .menu-image{
    width: 30%;
    min-width: 30px;
  }
  .app-info{
    padding-top: 10px;
    font-size: 70%;
    font-weight: bold;
    color: rgb(75,75,75);
  }
  
}
.app-content:hover{
  opacity: 0.4;
}
@media screen and (max-width: 1400px){

}
.function-title{
  text-align: center;
}
.show-how-to-use-container{
  text-align: center;
  background-color: rgb(175, 175, 175);
  color: rgb(248, 248, 248);
  padding: 0 30px 50px 30px ;
  font-weight: bolder;
  width: 100vw;
}
 .select-dropdown{
  overflow-y: auto !important;
}
.collapsible-header,.border-none,.collapsible,.collapsible-body{
  border: none;
  box-shadow: none;
}

.material-icons{
  line-height: 0;
}
.dark-color{
  background-color: gray;
}
.collapsible-header{
  border-bottom: double 1px #CBF0FF;
}
.main_contents{
 width: 100%;
 display: flex;
 justify-content: space-between;
 height: calc(100vh - 60px);
 padding: 20px 30px 0 30px;
 &__left{
  height: 100%;
  overflow: scroll;
  width: 76%;
  padding: 0 30px 0 30px;
 }
 &__right{
   height: 100%;
   width: 24%;
   overflow: scroll;
 }
}
.use-step{
  padding-top: 50px;
  font-size: 200%;
}
.use-step-sub{
  padding-top: 35px;
  font-size: 150%;
}
.use-info{
  font-size: 80%;
}
.wrap-how{
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 2vw;
  color: white;
  padding-top: 30px;
  display:inline-block;
  vertical-align:middle;
}
.current_posts__container:hover{
  opacity: 0.6;
}
.post__info{
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  font-size: 15px;
}
.btn{
  margin-top: 20px;
}
@media screen and (max-width: 1400px){
  .none {display:none}
  .main_contents__left{
    width: 100%;
  }
  .main_contents{
    margin: 0 auto;
  }
}
.header__title__logos{
  padding-left: 20px;
}
@media screen and (max-width: 1000px){
  .post-show{
    display: block;
    &__right{
      padding-left: 0;
    }
  }
}
.text-side{
  width: 100%;
  text-align: right;
}
.menu{
  display: list-item;
  float: none;
}
.contents{
  position: absolute;
  z-index: -1;
  width: 100vw;
}
.scroll_icon{
  right: 5%;
  bottom: 5%;
  font-size: 60px;
  z-index: 1;
  color: rgba(231, 231, 231, 0.7);
  position: absolute;
}