// Place all the styles related to the areas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.area-show,.area-show__pref-city,.area-show__info--toilet,.area-show__info--car{
  display: flex;
}
.area-show__left{
  width: 100%;
}
.map-window{
  max-width:500px;
  width: 100%;
  height: 50vh;
}
.area-show__right{
  padding-top: 50px;
  width: 100%;
  max-width: 500px;
  padding-left: 30px;
}
.area-show__infomations{
  height: 100px;
  width: 100%;
}
.area-show__name{
  font-size: 18px;
  border-left: solid 8px yellowgreen;
  line-height: 30px;
  padding-left: 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1300px){
  .area-show{
    display: block;
    width: 100%;
    margin: 0 auto;
    &__right{
      padding-left: 0;
    }
  }
  .main_contents__right{
    padding: 0;
    margin: 0;
    width: 0;
    display: none;
  }
}
.areas-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.area-content{
  background-color: rgb(148, 173, 255);
  border-radius: 10px;
  width: 230px;
  margin: 10px;
  padding: 15px;
  & div{
    color: white;
  }
}
.find-area-name{
  font-size: 21px; 
}
.area-content__info{
  display: flex;
}
.comment{
  line-height: 35px;
  & a{
    margin-right: 30px;
  }
}
#area-show__comment__container{
  max-height: 300px;
  overflow: scroll;
  margin-top: 50px;
}
.area-show__left__title{
  display: flex;
  max-width: 600px;
  width: 100%;
  justify-content: space-between;
}
.area-show__info{
  padding-top: 15px;
}
.toilet-info{
  padding-left: 40px; 
}
.pref-choice-form{
  font-size: 20%;
}
.search_forms-left{
  width: 70%;
  height: calc(100vh - 60px);
  overflow: scroll;
}
.search_forms-right{
  width: 30%;  
  height: calc(100vh -60px);
}