// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error_alert{
  color: #E82C6A; 
}
.post-content{
  width: 250px;
  float: left; 
  background-color: #C7EBFF;
  margin: 15px;
  padding: 15px;
  border-radius: 12px;
  &__info{
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    font-size: 15px;
  }
}
.post-content:hover{
  opacity: 0.6;
}
.size-input-form__left{
  padding-top: 20px;
}
