// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error_alert{
  color: #E82C6A; 
}
.post-content,.current_posts__container{
  width: 250px;
  margin: 15px;
  padding: 15px;
  border-radius: 12px;
  border: solid 1.5px rgb(150, 214, 248);
  box-shadow: blue 1.2px;
  background-color: rgb(244, 255, 255);
  & div{
    color: rgb(92, 102, 146);
  }
  &__info{
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    font-size: 15px;
  }
}
.posts-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.post-content:hover{
  opacity: 0.6;
}
.size-input-form__left{
  padding-top: 20px;
}
a{
color: #383838;
}
.post-show{
  display: flex;
  &__right{
    height: 500px;
    padding-left: 20px; 
  }
  &__info{
    display: flex;
    &--many{
      padding-left: 15px;
    }
  }
  &__area{
    display: flex;
  }
  &__title{
    font-size: 18px;
    border-left: solid 8px yellowgreen;
    line-height: 30px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
}
.posts__announce{
  padding-left: 10px;
  margin-left: 10px;
  line-height: 25px;

  border-left: solid 5px rgba(102, 232, 102,0.8);
}
.post__image,.post-content__image{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-show__image{
  height: 500px;
  width: 500px;
  justify-content: center;
}

