.describe
  .add-message.blue.darken-1
    %p.message-infomation 釣果・釣り場を投稿、検索するアプリケーション
  .describe-container
    .main-wrapper
      %p.wrap-info Welcome to FishingRecords
      %p.wrap-how How to use?
    .show-how-to-use-container
      %h4.use-step アカウント登録
      %p.use-info 表示項目を入力して登録。ログインユーザーのみ、投稿機能が利用できます
      %p.use-info 登録後、プロフィールコメントを設定可能
      %h4.use-step 投稿機能 
      %p.use-info 釣果、釣り場の２種類の投稿が可能
      %h5.use-step-sub 釣果投稿
      %p.use-info 釣った魚の名前、場所、時間、写真などの情報を入力して投稿
      %h5.use-step-sub 釣り場投稿
      %p.use-info 魚を釣った場所の投稿、情報共有
      %h4.use-step 検索機能
      %h5.use-step-sub 釣果検索
      %p.use-info 投稿された釣果を検索
      %p.use-info 4つの項目を自由に組み合わせて検索
      %h5.use-step-sub 釣り場検索
      %p.use-info 3つの項目から検索
      %h5.use-step-sub 詳細表示
      %p.use-info 検索結果をクリックすることで、詳細情報ページへ





  